python-dotenv
requests
altair
matplotlib
pandas
networkx
tqdm
pymongo
turicreate
numpy
plotly
seaborn
geonamescache
pycountry
geopandas
tslearn
wikipedia
reverse_geocode
tldextract
nbformat
descartes
ipywidgets